<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=3.1.0.4000,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="logserver" type="WorkQualityReport.Config.LogseverJtConfig,WorkQualityReport"/>
  </configSections>

  <logserver ip="10.95.4.48" ftpUserName="tescomm1" ftpPwd="tescomm_ftp1" dbConnection="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.37.111)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = hnjtsrc)));User ID=ctuni_pub;Password=ctunipub;">
    <province ip="192.168.37.110" defaultSchem="ctuni_bj"  ftpUserName="tescomm3" ftpPwd="tescomm_ftp3" dbConnection="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.95.3.111)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = hnkfsrc)));User ID=ctuni_pub;Password=ctunipub;Pooling=true;Max Pool Size=60;Min Pool Size=1;"></province>
  </logserver>
  <activerecord isDebug="false">
    <config>

      <add key="connection.driver_class" value="NHibernate.Driver.OracleClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.Oracle10gDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.37.111)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = hnjtsrc)));User ID=ctuni_pub;Password=ctunipub;"/>
      <!--<add key="connection.connection_string" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.95.3.111)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = hnjtsrc)));User ID=ctuni_pub;Password=ctunipub;"/>-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
    </config>
  </activerecord>
</configuration>